@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-slate-900 antialiased;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
  }
}

/* Custom Selection */
::selection {
  background-color: #ffedd5;
  color: #ea580c;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ea580c;
}

/* Grid */
.animated-grid {
  background-image: radial-gradient(#ea580c15 1px, transparent 1px);
  background-size: 30px 30px;
}